.table-container {
  display: flex;
  justify-content: center;
  overflow: auto;
}
table {
  border-collapse: collapse;
  margin: 0 4rem;
}

tbody {
  height: 40rem;
  overflow-x: hidden;
  overflow-y: auto;
}

th,
td {
  border: 1px solid #817e7e;
  padding: 0.8rem;
}
