.output-title {
  border-bottom: 1px solid;
  border-color: #01c3dd;
  color: #01c3dd;
  margin: 0 6rem 1rem 2rem;
}
.table-container {
  overflow: auto;
  height: 26rem;
}
.table-container thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 2rem;
}
th,
td {
  padding: 0.6rem 2rem;
  border: 1px solid #817e7e;
}
th {
  background: var(--secondary-background);
}
